<app-carrosel></app-carrosel>
<div id="sobre-nos"></div>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center mt-5 mb-3">
      <img class="logo" src="../../../../assets/img/Logo-Preta.png" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center mt-3 mb-3">
      <h3 class="mb-2 display-3">
        Sobre nós
      </h3>
    </div>
  </div>
  <div class="row" style="place-content: center;">
    <div class="col-md-8 text-center mb-4">
      <span>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam repellendus sed illo, unde a, blanditiis enim
        nam asperiores libero, quis excepturi neque aliquam. Possimus tempore nesciunt quis ut veritatis molestias!
      </span>
    </div>
  </div>

  <div id="servicos"></div>
  <div class="underline mt-5 mb-5"></div>
  <div class="row">
    <div class="col-md-12 text-center mt-3 mb-3">
      <h3 class="mb-5 display-3">
        Serviços
      </h3>
    </div>
  </div>
  <div class="row" style="place-content: center;">
    <div class="col-md-6 text-center box-col-whats mb-5">
      <div class="box-whats">
        <img class="box-image"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/479px-WhatsApp.svg.png"
          alt=""><br>
        <span class="box-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos consequuntur, maiores rerum
          rem iste ea placeat nisi, doloremque earum tempore ipsa.</span>
      </div>
    </div>
    <div class="col-md-6 text-center mb-5 box-col-web">
      <div class="box-whats">
        <img class="box-image" src="../../../assets/img/imagem1.svg" alt=""><br>
        <span class="box-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos consequuntur, maiores rerum
          rem iste ea
          placeat nisi, doloremque earum tempore ipsa.</span>
      </div>
    </div>
  </div>

  <div id="contatos"></div>
  <div class="underline mt-5 mb-5"></div>

  <div class="row ">
    <div class="col-md-12 text-center mt-3 mb-3">
      <h3 class="mb-5 display-3">
        Contato
      </h3>
    </div>
  </div>
  <div class="row box-contato m-auto mb-5">


    <div class="col-4 p-0 ">
      <div class="imagem"></div>
    </div>

    <div class="col-8 text-center p-0">
      <div class="contato p-md-4">
        <div class="container">
          <div class="row justify-content-center mb-md-1">
            <div class="col-md-10">
              <h5 class="mb-3 mt-4" style="color: #f1f1f1;font-weight: 700">
                Entre em Contato!
              </h5>
              <div class="texto text-truncate-container">
                <span class="">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt accusamus voluptatum itaque consequatur
                distinctio magnam, iusto quam in. Ut, impedit eius! Quidem soluta repellat laboriosam tempore nisi
                nobis eligendi. Beatae libero mollitia, harum expedita quod, illum officia fugit inventore ipsa.
                </span>
              </div>
              <a class="btn botao-contato d-block mt-md-5" [routerLink]="['contato']"><b>Contatos</b></a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
