<div class="background-footer">
  <div class="container">

    <footer class="row row-cols-5 py-5 my-5 border-top">
      <div class="col-md-1">
        <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">Logo</a>
      </div>

      <div class="col-md-3">
        <h5>Inicio</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Novidades</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Sobre nós</a></li>
        </ul>
      </div>

      <div class="col-md-3">
        <h5>Servicos</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Chabots</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Websites</a></li>
        </ul>
      </div>

      <div class="col-md-4">
        <h5>Contatos</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-4 ">Você pode tirar suas dúvidas ou cotar preços para projetos!</li>
          <li>
            <a class="btn btn-primary d-block mx-5" [routerLink]="['contato']">Contatos</a>
          </li>
        </ul>
      </div>
    </footer>
  </div>
</div>
