.background-footer {
  background-color: #13293d;
  bottom: 0;
  display: flex;
  width: 100%;
}

h5 {
  color: #f1f1f1;
  margin-bottom: 15px;
}

.nav-link, .nav-item {
  color: #f6f6f6;
  font-size: 14px;
}
img{
  width: 4rem;
}
