.background-navbar {
  background-color: #13293d;
}

.nav-link {
  color: #f1f1f1;
}

.nav-link {
  margin-left: 3rem;
}

button {
  background-color: #13293d;
  border: none;
}
img{
  width: 3.6rem;
}
